<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Cloud Student Management System</title>
</head>

<body>

<div class="container">

    <h1>Cloud Student Management System</h1>

    <p>Manage student information easily using our application.</p>

    <hr>

    <h2>Student Management</h2>

    <p>
        <a href="/add_student">➕ Add New Student</a>
    </p>

    <p>
        <a href="/students">👨‍🎓 View Students</a>
    </p>
    
</div>

</body>
</html>